body {
    background-color: hsl(229, 57%, 11%);
}
main {
    background-image: url("./images/bg-desktop.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.logo {
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px 90px 8px 8px;
    min-width: 18%;
}
.storageIndicator {
    background-color: hsl(228, 56%, 26%);
    min-width: 40%;
    position: relative;
}
.gradientBar {
    background-color: hsl(229, 7%, 55%);
    min-width: 10%;
    min-height: .8rem;
}
.gradientFill {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    max-width: 81.5%;
    min-height: .8rem;
}
.iconBG {
    background-color:hsl(229, 57%, 11%);
}
p {
    color: hsl(243, 100%, 93%);
    font-size: 14px;
    font-weight: 400;
}
span {
    font-weight: 700;
}
.spaceLeft {
    position:absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: -10px;
    width: 80px;
    color: hsl(229, 7%, 55%);
}
.remainingText {
    color: black;
    font-size: 14px;
}
.levelIndicator {
    min-width:10px;
}
@media (max-width: 575px) {
    main {
        background-image: url("./images/bg-mobile.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}